.booth {
	width: 400px;
	background: #ccc;
	border:10px solid #ddd;
	margin: 0 auto;
}

@-webkit-keyframes rotate {
	100% {
		-webkit-transform:rotate(360deg);
	}
}


#canvas {
	-webkit-filter: sepia(100%);
	filter: sepia(100%);
	-webkit-animation: rotate 5s infinite linear;
}